[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
click = "*"

[dev-packages]
pytest = "*"
pre-commit = "*"

[requires]
python_version = "3.10"

[scripts]
test = "pytest"
install_hooks = "pre-commit install"
lint = "pre-commit run --all-files"
